@{
    ViewBag.Title = "Home Page";
   
}

<br /> <br />
<div class="container2">
    <div class="jumbotron">
       <center><h1>Movie Nerds</h1>
        <p>Your #1 source for premium movie and video reviews. Sign up for free to add your movie reviews today.</p>
        <a class="btn btn-info">Join Now!</a></center> 
    </div>
    <div class="row2" style="text-align:center;">
        Something
    </div>

</div>

<br />

<div class="buttonrow" >

 
    <div class="VideoBox">
        <div style="float:left">
            G of G 2014
            <iframe width="225" height="250"
                    src="//www.youtube.com/embed/aHUBlv5_K8Y" frameborder="0" ></iframe>
        </div>
    </div>

    <div class="VideoBox">
        <div style="float:left">
           Let's Be Cops
            <iframe width="225" height="250"
                    src="//www.youtube.com/embed/WM_OkdRElrI" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
    <div class="VideoBox">
        <div style="float:left">
            Sin City 2
            <iframe width="225" height="250"
                    src="//www.youtube.com/embed/HE-RvfaQKBY" frameborder="0" allowtransparency="false"></iframe>
</div>
    </div>
    </div>































