@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <br />
</div>






<div class="col-lg-12">


    <div class="roundedSquare">
        <div class="containerrow">
            Movie Title in Yellow
        </div>

        <table align="center" cellpadding="20" style="text-align:center">
            <tr>
                <td>
                    <h4>Actors</h4>
                </td>
                <td>
                    <h4>Genre</h4>
                </td>
                <td>
                    <h4>Running Time</h4>
                </td>
                <td>
                    <h4>Total Rating</h4>
                </td>
            </tr>
            <tr>
                <td>
                    Somebody Dumb<br />
                    Somebody Else Dumb<br />
                    Somebody Else Dumb 2<br />
                    Somebody Else Dumb 3
                </td>
                <td>
                    Action
                </td>
                <td>
                    120 Minutes
                </td>
                <td>
                    4.5626 stars out of 5
                </td>
            </tr>
        </table>

        <br />
        This is some more information.  More info here.
        <br />



        <div class="trailerbox">
            Picture box, picture box, picture boxPicture box, picture boxPicture box, picture boxPicture box, picture boxPicture box, picture box
        </div>
        <div class="trailerbox">
            Link here please Link here pleaseLink here pleaseLink here pleaseLink here pleaseLink here pleaseLink here pleaseLink here please
        </div>
        <div class="trailerbox">
            What is this
        </div>
        <div class="trailerbox">
            Picture box, picture box
        </div>



        <div class="roundedBox">
            <h4>Summary </h4>This is a summary this is a summary this is a stupid summary this is a summary. VThis is some more information.  More info here.  More info.This is some more information.  More info here.  More info.
            This is some more information.  More info here.  More info. This is some more information.  More info here.  More info.This is some more information.  More info here.  More info.
            This is some more information.  More info here.  More info.This is some more information.  More info here.  More info.This is some more information.  More info here.  More info.
            This is some more information.  More info here.  More info. This is some more information.  More info here.  More info.This is some more information.  More info here.  More info.
            This is some more information.  More info here.  More info.This is some more information.  More info here.  More info.This is some more information.  More info here.  More info.
            This is some more information.  More info here.  More info. This is some more information.  More info here.  More info.This is some more information.  More info here.  More info.
            This is some more information.  More info here.  More info.
        </div>
        <div class="buttonrow">
            <input type="button" value="Button1" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Movie")' " />
            <input type="button" value="Button2" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Home")' " />
            <input type="button" value="Button3" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Home")' " />
            <input type="button" value="Button4" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Home")' " />
        </div>
    </div>

</div>