body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#header
{
    background-color:Blue;
    color:White;
    padding:1px;
}
#content
{
    float:left;
    margin:10px;
}
#sidebar
{
    float:right;
    margin:10px;
    padding:10px;
    border:dotted 5px red;
    width:180px;
}
#footer
{
    text-align:center;
    clear:both;
}
.topLink
{
    width: 100%;
    overflow: hidden;
    background: #db4c2c;
    border-bottom: 1px solid #d3330f;
}
.autoCenter
{
    width: 1024px;
    margin: 0px auto;
    overflow: hidden;
}
ul.link
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}