@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >

    
    <h1>Falcuncam</h1> 
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    
</div>
<nav>
<ul>
    <li><a href="#">Page One</a></li>
    <li><a href="#">Page Two</a></li>
    <li><a href="#">Page Three</a></li>
    <li><a href="#">Page Four</a></li>
</ul>
</nav>