@{
    ViewBag.Title = "Home Page";
    
}

<div class="roundedBalls" >
    <h1>TEAM8 Movie Reviews</h1>
    <p class="lead"><i>The #1 source for movie reviews and celebrity info-tainment.</i></p>
    <p><a href="#"class="btn btn-info">Join Now</a></p>
    <style>
        body {
            background-color:#0094ff;
            background-image:url(../../Content/images/movie_theatre.jpg);           
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;

             }
      
    </style>
</div>
<br /><br />



<div class="row" style="background-color:orange;text-align:center">
    <div class="col-md-4">
        
        <h2>NOW PLAYING</h2>        
        <p></p>

    </div>

    <div class="col-md-4">
        <h2>Latest Reviews</h2>
        <p>
            Check out what everyone has to say about that movie you're waiting to see, or
            leave a review of your own!
            </p>
            <p>
            <a href="#"class="btn btn-info">Add Review</a>
            
        </p>
 </div>
            <div class="col-md-4">
                <h3>THE DIRECTORS CHAIR.</h3>
                <p>Find out the latest on all of your favorite movie directors in one place.</p>
                <p>
                <a href="#" class="btn btn-success">GO</a>
                </p>
            </div>
   
    </div>
        
 